.board-pages {
	text-align: center;
}

.board-buttons {
	padding: 10px 20px;
	text-align: right;
}

#board-contents {
	height: 300px;
}

#board-list tbody tr {
	cursor: pointer;
}

.board-text {
	border-bottom: solid 1px #999;
}

.board-contents {
	min-height: 200px;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}








