.board-pages {
	text-align: center;
}

.board-buttons {
	padding: 10px 20px;
	text-align: right;
}

#board-contents {
	height: 300px;
}

#board-list tbody tr {
	cursor: pointer;
}

.board-text {
	border-bottom: solid 1px #999;
}

.board-contents {
	min-height: 200px;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
}

.board-reply-box {
	position: relative;
	padding-right: 110px;
}

#board-reply-send {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100px;
	height: 100%;
}

.board-replies {
	list-style: none;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.board-replies > li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 150px;
	padding-right: 110px;
}

.reply-writer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 100%;
	padding: 5px 10px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}

.reply-contents {
	display: inline-block;
	padding: 5px 10px;
	border-left: solid 2px #999;
}

.reply-actions {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
}







